.vs/
/ecom/bin/Debug/net8.0
/ecom/obj/Debug/net8.0/ref
/ecom/obj/Debug/net8.0/refint
/ecom/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/ecom/obj/Debug/net8.0/ecom.dll
/ecom/obj/Debug/net8.0/ecom.AssemblyInfo.cs
/ecom/obj/Debug/net8.0/apphost.exe
/ecom/obj/Debug/net8.0/ApiEndpoints.json
/ecom/obj/Debug/net8.0/staticwebassets
/ecom/obj/Debug/net8.0/scopedcss
/ecom/obj/Debug/net8.0/ecom.pdb
/ecom/obj/Debug/net8.0/ecom.MvcApplicationPartsAssemblyInfo.cache
/ecom/obj/Debug/net8.0/ecom.genruntimeconfig.cache
/ecom/obj/Debug/net8.0/ecom.sourcelink.json
/ecom/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/ecom/obj/Debug/net8.0/staticwebassets.build.json
/ecom/obj/Debug/net8.0/staticwebassets.development.json
/ecom/obj/Debug/net8.0/staticwebassets.pack.json
/ecom/obj/Debug/net8.0/ecom.csproj.BuildWithSkipAnalyzers
/ecom/obj/Debug/net8.0/ecom.csproj.CoreCompileInputs.cache
/ecom/obj/Debug/net8.0/ecom.csproj.FileListAbsolute.txt
/ecom/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/ecom/obj/Debug/net8.0/ecom.AssemblyInfoInputs.cache
